/*
 *  site.css
 static resource to create a style sheet using the webserver for the kohana test website
 */

/* put in controller for each page for own page background
   background: url('/mediaflow/media/images/main1.png') no-repeat center center fixed; */

/* headers */

h1, h2 { 
         font-family: Helvetica, serif;
	 padding: 0 10px; /* 0 top and bottom, 10px right and left */
}

h1 {
    font-size: 250%;
}



/* page setup */

html { 
    padding: 10px;
    margin: 0 auto;
    height: 100%;
}

body {
    height: 100%; 
    background: #FFFFFF; 
    min-width: 680px; /* defense so resizing doesnt break column layout */
    /* 2x (left col+ center pad (20px each side) + right col width */
}

/* FULL IMAGE BACKGROUND LAYOUT */

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
/* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}



/*----- DIVISION TAGS - for column layout -----*/

/*** taken from alistapart.com/article/holygrail ***/
div {
    display: block;
    height: 100%;
    /* *** set header and footer height manually 
       so only container files whole page *** */
}

div#header{
    height: 50px;
    margin: 0 0 30px 0; /* bottom margin */
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
    color: #FFFFFF; /* text */
}

div#container{ /* container for columns */
    padding-left: 200px; /* left column width */
    padding-right: 240px; /*right column width + center padding */
    overflow: hidden;
    min-height: 100%: 
    /* set min-height instead of height so if container > page height (html,body,etc.), accomidate content */
}

div#container .column{
    position: relative; /* helps push left column left *, wants to wrap with center */
    float: left; /* so left column doesnt wrap */
    /*padding-bottom: 10010px; overkill padding, adds from botoom
    margin-bottom: -10000px; */
}

/*----- SHADING -----*/

.leftcol-inner-shading{
    /* kits for most browsers, except IE */
    -moz-box-shadow: inset -6px 0 5px -5px #000000, inset 5px 0 5px -5px #000000; 
    -webkit-box-shadow: inset -7px 0 5px -5px #000000, inset 5px 0 5px -5px #000000;
    box-shadow: inset -6px 0 5px -5px #000000, inset 5px 0 5px -5px #000000;
    /* use of negative spread to hide the shadows */
}

.rightcol-inner-shading{
    /* kits for most browsers, except IE */
    -moz-box-shadow: inset 6px 0 5px -5px #000000, inset -5px 0 5px -5px #000000;
    -webkit-box-shadow: inset 7px 0 5px -5px #000000, inset -5px 0 5px -5px #000000;
    box-shadow: inset 6px 0 5px -5px #000000, inset -5px 0 5px -5px #000000;
    /* use of negative spread to hide the shadows */
}

.centrecol-outter-shading{
    /* kits for most browsers, except IE */
    -webkit-box-shadow: 8px -6px 5px -5px #000000, -8px -6px 5px -5px #000000;
    -moz-box-shadow: 8px -6px 5px -5px #000000, -8px -6px 5px -5px #000000;
    box-shadow: 8px -6px 5px -5px #000000, -8px -6px 5px -5px #000000;
    /* right and left shadow added for corners */
}

.inner-shading{
    /* kits for webkit and mozilla browswers */
    -webkit-box-shadow: inset 0 0 10px #000000;
    -moz-box-shaodw: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    /* all sides */
}

.outter-shading{
    /* kits for webkit and mozilla browswers */
    -webkit-box-shadow: 6px 6px 10px -1px #000000;
    -moz-box-shaodw: 6px 6px 10px -1px #000000;
    box-shadow: 6px 6px 10px -1px #000000;
    /* right, bottom only */
}

.content-shading{
    
}

div#center{
    /* FIX shadows overlap, fix later */
    padding: 10px 20px; /* 10px top and bottom, 20px left and right */
    margin: 0 0 10px 0; /* 10px bottom, 0px left and right */
    width: 100%;
    background: #AFAFAF; /* silver */
}

/* left page column */
div#left{
    width: 180px; /* left column width, compensates for padding (10px each side) */
    padding: 0 10px; /* 0 top and bottom, 10px left and right */
    margin: 0 0 10px 5px; /* 10px bottom, 5px left */
    right: 240px; /* part of width for offset or margin, pushes right from right edge of column */
    /* also compensate for padding so left column + center padding */
    margin-left: -100%; /* pulls left colum so it doesnt wrap with center */
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
}

/* right page column */
div#right{
    width: 180px; /* right column width, lower due center padding */
    padding: 0 10px; /* 0 top and bottom, 10px left and right */
    margin: 0 5px 10px 0;  /* 10px bottom, 5px right */
    margin-right: -100%; /* pull column right, so its doesnt wrap with center*/
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
}

/*** PAGE FOOTER ***/

div#footer{
    height: 75px; /* mock up height for now */
    margin: 30px 0 0 0;
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
    clear: both;
}

/**** FIX FOR IE6 ***/

/* hack for the negative margin that breaks layout in IE, 
pushes left from left edge right (width of right column) */
* html div#left{
    left: 200px;
}

* html body{
    overflow: hidden;
}

/* hack so background of columns don't spill into footer in IE6 */
*html #footer-wrapper{
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    background: #726E6D;
    /* needs to be same as body background */
}

/*----- DIVISION TAGS END -----*/

ul {
     list-style: none; 
     padding: 1em 0; 
   }

ul li {
    display: inline; 
    padding-right: 1em; 
}

/* PARAGRAPHS */

p {
    font-family: Arial, Helvetica, serif;
    color: #FFFFFF;
    margin: 10px,10px,0,0;
    padding: 10px;
}

p#outter{
    /* outter columns */
    color: #000000;
}

/* displayed time at bottom of webpage */
p#date {
    font-size: 14px;
    color: #000000;
    text-align: center;
}